li{background-color:#FF0066;font-family:serif;font-style:italic;font-weight:bold;font-size:22px;border-style:groove;border-color:#FF0066;padding:5px 5px 5px 5px;}
h1{font-family:serif;font-style:italic;text-align:center;}
h2{font-family:serif;font-style:italic;text-align:center;}
a:visited{color:#000000}
a{color:#000000}
p{font-weight:bold;font-size:30px;font-family:serif;font-style:italic;}
img{border-style:ridge;border-color:darkviolet;}